/* fond de page */
body {
background-image:url(test.png);
background-repeat: repeat;
background-position: 0, 0;
background-size:20vw,20vh;
background-color:grey;
}

/* bandeau de titre */




h1 { 
  color: white;
  text-align: center;
  border: none;
  box-shadow: inset 0 0 5px 5px rgba(30,144,255,0.2);
  border-radius: 10px/10px;
  background-color: rgba(47,79,79,0.95);
  margin-top: 0.5em;
  text-shadow: 3px 3px 3px black;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}


/* contenu de la page */

nav{
  padding-top: 15px;
  padding-left: 15px; 
  border: none;
  box-shadow: inset 0 0 5px 5px rgba(30,144,255,0.2);
  border-radius: 10px/10px;
  background-color: rgba(47,79,79,0.95);
  text-shadow: 3px 3px 3px black;
  height: 53vh;
  width: 68vw;
  position: absolute;
  left: 1%;
  top: 15vh;

 }


aside {  
  color: white;
  text-align: center;
  vertical-align:center ;
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  box-shadow: inset 0 0 5px 5px rgba(30,144,255,0.2);
  border-radius: 10px/10px;
  background-color: rgba(47,79,79,0.95);
  text-shadow: 3px 3px 3px black;
  width:22%;
  position: absolute;
  left: 75%;
  top: 25vh;
 }


main { 
  color: white;
  text-align: left; 
  padding-top: 5px;
  padding-left: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  border: none;
  box-shadow: inset 0 0 5px 5px rgba(30,144,255,0.2);
  border-radius: 10px/10px;
  background-color: rgba(47,79,79,0.95);
  text-shadow: 3px 3px 3px black;
  width: 35%;
  position: absolute;
  right:58%;
  top:73vh;
 }

main2 { 
  color: white;
  text-align: center; 
  padding-top: 25px;
  padding-left: 15px;
  padding-bottom: 21px;
  padding-right: 15px;
  border: none;
  box-shadow: inset 0 0 5px 5px rgba(30,144,255,0.2);
  border-radius: 10px/10px;
  background-color: rgba(47,79,79,0.95);
  text-shadow: 3px 3px 3px black;
  width: 49%;
  position: absolute;
  left:45%;
  top:73vh;
 }

f { 
  color: white;
  text-align: left; 
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  border: none;
  box-shadow: inset 0 0 5px 5px rgba(30,144,255,0.2);
  border-radius: 10px/10px;
  background-color: rgba(47,79,79,0.95);
  text-shadow: 3px 3px 3px black;
  width: 94vw;
  position: absolute;
  left:1%;
  top:150vh;
 }

/* polices de caractères */
body { font-family: Trebuchet MS, sans-serif; }

/* positionnement des champs */
label { display: block; }
label span { display: inline-block; width: 5em; height: 1.5em; }

/*
input, textarea {
  font-family: monospace;
  padding: 2px 0.5em;
  width: 5em;
  font-size: 1.2em;
  line-height: 1.33em;
  color: white;
  margin-top: 5px;
}
.button {
  border: 3px outset #444;
  background-color: #888;
  padding: 5px 0.5em;
  border-radius: 3px;
  display: inline-block;
  margin: 1em 0;

  color: #eee;
  text-shadow: #000 -1px -1px 0;
  right: calc(100% - 8em - 3px);
}
*/
/*
a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
*/
a.delete:hover {
  color: red;
}
#map { height: 50vh; width: 65vw; }